{% extends "layouts/main.html" %}

{% set serviceName="Error pages" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      What we'll cover
    </h1>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>Look at different ways to set session data</li>
      <li>Build an error page</li>
      <li>Use routes to check for a basic error</li>
      <li>Use session data to display conditional content</li>
    </ul>

    <p class="govuk-body"><a href="name">Our end result</a></p>
   
  </div>
</div>

{% endblock %}
