{% extends "layouts/main.html" %}

{% set serviceName="Error pages" %}
{% block pageTitle %}
  Page title
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">Our session data</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              data['word']
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['word']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              data['phrase']
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['phrase']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              data['float']
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['float']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              data['integer']
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['integer']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              data['date']
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['date']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              data['word-array']
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['word-array']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              data['number-array']
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['number-array']}}
            </dd>
          </div>
        </dl>




      <h1 class="govuk-heading-m">Manipulating data with filters</h1>
      

      
      {% for people in data['myArray'] %}
        {{people.name}}<br>
        {{people.dob | govukDate }}<br>
        {{people.relationship}}<br>
        {{loop.index0}}<br>
      {% endfor %}

      {{ data['myArray'].length }}




    </div>
  </main>
</div>


{% endblock %}
