{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Data filters
    </h1>

    <h2 class="govuk-heading-m">
      What we'll cover
    </h2>
    
    <ul class="govuk-list govuk-list--bullet">
      <li><strong>Using session data</strong><br>
        This was covered in more detail on the creating page errors lunch and learn</li>
      <li><strong>For loops</strong><br>
        This was covered in more detail on the json session (16th January) </li>
      <li><strong>How arrays work</strong></li>
      <li><strong>What an object is</strong></li>
      <li><strong>How to use an array of objects (the holy grail)</strong></li>
      
    </ul>

    <a href="name">Lets go!</a>
   
  </div>
</div>

{% endblock %}
