{% extends "layouts/main.html" %}
{% set serviceName="Our array of objects" %}
{% block pageTitle %}
  Data-table example
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     <h1 class="govuk-heading-l">Our array of objects</h1> 
    
    <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Object #</th>
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Date of Birth</th>
            <th scope="col" class="govuk-table__header">Relationship</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body"></tbody>          
          {% for person in data['people']%} 
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{loop.index0}}</td>
              <td class="govuk-table__cell">{{person.name}}</td>
              <td class="govuk-table__cell">{{person.dob | govukDate}}</td>
              <td class="govuk-table__cell">{{person.relationship}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
        
      
      
    
      
    </div>
  </div>

{% endblock %}
