{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">People who live with you</span>
              <h1 class="govuk-fieldset__heading">
                What is their relationship to you?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="relationship" name="relationship" type="radio" value="A parent">
                <label class="govuk-label govuk-radios__label" for="relationship">
                  A parent
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="relationship-2" name="relationship" type="radio" value="A son or daughter">
                <label class="govuk-label govuk-radios__label" for="relationship-2">
                  A son or daughter
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="relationship-3" name="relationship" type="radio" value="A wife or husband">
                <label class="govuk-label govuk-radios__label" for="relationship-3">
                  A wife or husband
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="relationship-4" name="relationship" type="radio" value="Other">
                <label class="govuk-label govuk-radios__label" for="relationship-4">
                  Other
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
